[submodule "3rdParty/LabCmd"]
	path = 3rdParty/LabCmd
	url = https://github.com/meshula/LabCmd.git
[submodule "3rdParty/LabCamera"]
	path = 3rdParty/LabCamera
	url = https://github.com/meshula/LabCamera.git
[submodule "3rdParty/LabText"]
	path = 3rdParty/LabText
	url = https://github.com/meshula/LabText.git
[submodule "3rdParty/LabMath"]
	path = 3rdParty/LabMath
	url = https://github.com/meshula/LabMath.git
[submodule "3rdParty/tinyobjloader"]
	path = 3rdParty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "3rdParty/glew-build-club"]
	path = 3rdParty/glew-build-club
	url = https://github.com/vfxpro99/glew-build-club.git
[submodule "3rdParty/glfw"]
	path = 3rdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdParty/imgui"]
	path = 3rdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdParty/stb"]
	path = 3rdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "3rdParty/opengametools"]
	path = 3rdParty/opengametools
	url = https://github.com/jpaver/opengametools.git
